[submodule "22FA - ECE570 Artificial Intelligence/Code/Project"]
	path = 22FA - ECE570 Artificial Intelligence/Code/Project
	url = https://github.itap.purdue.edu/wiegman/ECE570.git
[submodule "MS_thesis"]
	path = MS_thesis
	url = git@github.com:tjwieg/MS_thesis.git
